.login-header {
    font-weight: bold;
    color: #333;
}

.login-form-cont {
    background-image: linear-gradient(to bottom, #f7f7f7, #e7e7e7);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.loginCard {
    position: relative; 
    top: -10px; 
    max-width: 400px; 
    margin: 0 auto; 
    padding: 20px; 
    text-align: center; 
    background-color: #FFFFFF; 
    border: 1px solid #C9C9C9; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    border-radius: 10px; 
}

.login-btn {
    background-color: #333; 
    color: white; 
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-btn:hover {
    background-color: #555; 
    color: white; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.sg-up-btn {
    background-color: #4b0082; 
    color: white; 
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.sg-up-btn:hover {
    background-color: #6a0dad; 
    color: white; 
}