.commentor{
    font-size: 12px;
    color: #b7adad;
    /* margin-left: 15px; */
}

.you {
    font-size: 12px;
    color: #d146de;
}

.author {
    font-size: 12px;
    color: #ffb936;
    /* margin-left: 15px; */
}

.comment-body {
    font-size: 18px;
}

.comment mat-card {
    border: 1px solid black; /* Black outline around each comment card */
    margin-bottom: 25px; /* Space between each comment */
}

.delC-btn{
    /* background-color: #9c1d1ba0; */
    color: red;
}

.delC-btn:hover{
    background-color: #9c1d1b;
    color: white;
}

:host ::ng-deep p {
    color: black !important; /* Default text color */
  }