<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="comments-container"> <!-- *ngFor="let comment of comments" -->
                <div class="comment" *ngFor="let comment of comments">
                    <mat-card class="my-2">
                        <mat-card-header>
                            <small>
                                <span class="commentor">{{comment.user_username}} </span>
                                <span class="you" *ngIf="comment.user_id === currentUserId">(You)</span>
                                <span class="author" *ngIf="comment.user_id === comment.author_posts_user_id">(Author)</span> 
                            </small>
                        </mat-card-header>

                        <mat-card-content class="comment-body" [innerHTML]="comment.comment_body">

                        </mat-card-content>

                        <mat-card-footer class="d-flex justify-content-end">
                            <!-- <button mat-button (click)="editComment(comment.comment_id)" class="editC-btn"
                            *ngIf="comment.user_id === currentUserId">
                                Edit
                            </button> -->

                            <button mat-button (click)="deleteComent(comment.comment_id)" class="delC-btn mb-2 me-2"
                            *ngIf="comment.user_id === currentUserId || comment.author_posts_user_id === currentUserId" >
                                Delete
                            </button>
                        </mat-card-footer>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>